/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: bisque;
    overflow: hidden;
}

h1 {
    color: blueviolet;
    font-size: 36px;
}

h2 {
    color: cadetblue;
    font-size: 20px;
    background-color: aqua;
}

menu {
    height: 48px;
    border: 1px solid black;
    background-color: aliceblue;
}

a {
    width: fit-content;
    margin: 0 20px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
}

.container {
    width: 100%;
    min-height: 150px;
    background-color: #ececec;
    padding: 16px;
}

.div1 {
    width: 200px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 50%;
    margin: 16px auto;
    overflow: hidden;
}

.div1 img {
    width: 100%;
}

.div2 {
    width: 200px;
    height: 200px;
    background-image: url(../assets/html.jpg);
    background-size: cover;
    background-color: lightgreen;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}